---
import MainLayout from '@src/layouts/MainLayout.astro';
import ContactForm from '@src/components/ContactForm.astro';
import CategoryWidget from '@src/components/CategoryWidget.astro';
import FeaturedPostWidget from '@src/components/FeaturedPostWidget.astro';
import TagsWidget from '@src/components/TagsWidget.astro';
---

<MainLayout
  title="Contact Us"
  description="Get in touch with us. We'd love to hear from you."
>
  <div class="container xl:max-w-7xl mx-auto px-4 flex flex-col gap-4 lg:gap-6">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-6 py-6">
      <!-- Main content -->
      <div class="max-lg:mb-12 lg:col-span-2 py-4">
        <h1 class="text-2xl md:text-3xl font-medium border-b border-slate-200 pb-3">Contact Us</h1>

        <div class="relative post-content pt-4">
          <ContactForm />
        </div>

        <!-- Bottom nav placeholder -->
        <div class="flex items-center justify-end gap-3 py-4 border-t border-slate-200"></div>
      </div>

      <!-- Sidebar -->
      <aside class="lg:col-span-1 lg:ps-6">
        <div class="flex flex-col gap-4 lg:gap-6 sticky top-24">
          <CategoryWidget />
          <FeaturedPostWidget />
          <TagsWidget />
        </div>
      </aside>
    </div>
  </div>
</MainLayout>
